<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type: [a1, aliengo, go1, laikago]"/>
    <arg name="manager" default="point_cloud_manager"/>

    <param name="legged_robot_description" command="$(find xacro)/xacro $(find legged_perceptive_description)/urdf/robot.xacro
       robot_type:=$(arg robot_type)
    "/>
    <node name="generate_urdf" pkg="legged_common" type="generate_urdf.sh" output="screen"
          args="$(find legged_unitree_description)/urdf/robot.xacro $(arg robot_type)"/>

    <rosparam file="$(find legged_unitree_hw)/config/$(arg robot_type).yaml" command="load"/>

    <param name="robot_type" value="$(arg robot_type)"/>
    <node name="legged_unitree_hw" pkg="legged_unitree_hw" type="legged_unitree_hw" respawn="false"
          clear_params="true"/>


    <!--    <group ns="front_camera">-->
    <!--        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">-->
    <!--            <arg name="external_manager" value="true"/>-->
    <!--            <arg name="manager" value="/$(arg manager)"/>-->
    <!--            <arg name="json_file_path" value="$(find legged_perceptive_description)/config/HighAccuracyPreset.json"/>-->
    <!--            <arg name="tf_prefix" value="front_camera"/>-->
    <!--            <arg name="device_type" value="d435"/>-->
    <!--            <arg name="reconnect_timeout" value="1"/>-->
    <!--            <arg name="enable_pointcloud" value="true"/>-->
    <!--            <arg name="allow_no_texture_points" value="true"/>-->
    <!--        </include>-->
    <!--    </group>-->

    <include file="$(find legged_perceptive_description)/launch/mid360.launch"/>

    <group ns="tracking_camera">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="tf_prefix" value="tracking_camera"/>
            <arg name="device_type" value="t265"/>
            <arg name="enable_pose" value="true"/>
            <arg name="publish_odom_tf" value="false"/>
            <arg name="reconnect_timeout" value="1"/>
            <arg name="initial_reset" value="true"/>
        </include>
        <rosparam>tracking_module/enable_relocalization: false</rosparam>
        <rosparam>tracking_module/enable_pose_jumping: false</rosparam>
    </group>


</launch>
